@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid black;
  padding: 10px;
  width: 343px;
  height: 226px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  width: 120px;
  margin-bottom: 10px;
}

.form-container {
  width: 100%;  
}

.form-container i {
  position: absolute;
  right: 5%;
  top: 18%;
  color: #777;
  cursor: pointer;
}

.input {
  width: 100%;
  outline: 0;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);  
  padding-left: 10px;
  font-size: 12px;
}

.input:focus {
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.password-container {
  position: relative;
}

.footer {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}

button {
  border-radius: 20px;
  padding: 2px 7px;
  font-weight: 500;
  border: 2px solid white;
  background: black;
  color: white;
}

button:hover {
  background: white;
  color: black;
  font-weight: 500;
  border: 2px solid black;
}

footer a {
  text-decoration: underline;
  color: black;
}