@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: white;
    font-family: 'Raleway', sans-serif;
}

.container {    
    padding: 5px;
    display: flex;
    width: 350px;
    height: 200px;
    color: black;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
    background: white;
    border: 1px solid white;
    box-shadow: 2px 2px 7px black;
    font-weight: 400;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.input{
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 10px;
}

.input::placeholder {
    font-size: 8px;
}

.span{
    font-size: 7px;
    font-weight: 600;
}

.button{
    border: none;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 10px;
    font-size: 10px;
}